/*@media (max-width: 1199px)*/
@media (max-width: 991px) {
    .main { padding: var(--len-4); }
    .main { flex: 0 0 100%; width: 100%; }
      .grid-item {   
          width: 48%;
        }
}
@media (max-width: 767px) {
    .header .site-title {
      padding-top: var(--len-4);
      flex: 0 0 100%;
      display: none;
    }
    .header .menu {
        flex-wrap: wrap;
        flex: 0 0 100%;
        border-top: 1px solid var(--color-fg-tiny-line);
    }
     .grid-container {
        display: flex; 
        width: 100%;
        flex-direction: row;                
        flex-wrap: wrap;
        align-items: center;               
        gap:var(--len-3);           
      }
      .grid-item {   
          width: 48%;  
          align-items: center;
          justify-content: center;
          background-color:var(--test);
        }
        .product {
            flex-direction: column;
        }
        .gallery {
            display: none;
        }
        .gallery-wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;
            justify-content: center;
            align-content: center;
          }
          .content{
            padding: var(--len-4);
          }
}

@media (max-width: 575px) { 
    .main-wrapper, .header { max-width: none; } 
    .header-wrapper img{
        max-width: 40px;
        }
    .site-title{
        display: none;
    }
    .grid-container {
      display: flex; 
      width: 100%;
      flex-direction: column;                
      flex-wrap: nowrap;
      align-items: center;               
      gap:var(--len-3);           
    }
    .grid-item {   
        width: 90%;  
        align-items: center;
        justify-content: center;
        background-color:var(--test);
      }
  }