<form name="contact" method="POST" netlify>
    <p class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
    </p>
    <p class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" name="email" id="email" />
    </p>
    <p class="form-group">
      <label for="message">Message:</label>
      <textarea name="message" id="message"></textarea>
    </p>
    <p>
      <button type="submit"><h2>Send</h2></button>
    </p>
  </form>