{{ define "main" }}
  <article class="post">
    <!-- Display the title -->
    <h1>{{ .Title }}</h1>

    <!-- Display the summary -->
    <p class="summary">{{ .Params.summary }}</p>
    {{ $image := resources.Get .Params.image }}
    {{ if $image }}
      {{ $image := $image.Resize "400x" }}
      <img src="{{ $image.Permalink }}" alt="{{ .Title }}">
    {{ end }}
    <!-- Display the main content of the post -->
    <div class="content">
      {{ .Content }}
    </div>
  </article>
{{ end }}
